body {
    background-color: mediumaquamarine;
    font-family: fantasy;
    background-color: rgb(184, 102, 205);
}

h1 {
    color: white
}

h3 {
    background-color: green;
    color: rgb(184, 102, 205);
}